aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.27.2
motor
pillow
psutil
pytz
git+https://github.com/ankitkumarbh/pytgcalls.git
pykeyboard
pyrogram
python-dotenv
pyyaml
gpytranslate
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
datetime
bs4
pybase64
pySmartDL
PyGithub
python-decouple
pyshorteners
lxml
unshortenit
nums_from_string
feedparser
python-amazon-paapi
uvloop
redis
aria2
cryptography